@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Roboto+Slab|Ubuntu&display=swap');

.App {
   width: 100vw;
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', 'Raleway', 'Roboto+Slab', 'Ubuntu', 'Courier New';
}

.Header {
   background-image: url('./header-bg.jpg');
   height: 720px;
}